<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=redgreeclean;AccountKey=XYTmJkEcpDH3ipUy6qOmEkvyoVMtfe21qm1/A/97pzv2+oiViYMSuuDb31teMpdrKObr4RcfWsJxeNsFYOR5tQ==" />
  </appSettings>
</configuration>